html {
  box-sizing: border-box;
  font-size: 125%; //* 20px
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1.5;
  font-family: $ff-primary;
}

input,
button {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
